---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import LinkButton from "@components/LinkButton.astro";
import Hr from "@components/Hr.astro";
import Card from "@components/Card";
import Socials from "@components/Socials.astro";
import getSortedPosts from "@utils/getSortedPosts";
import { SITE, SOCIALS } from "@config";

const posts = await getCollection("blog");

const sortedPosts = getSortedPosts(posts);
const featuredPosts = sortedPosts.filter(({ data }) => data.featured);
const recentPosts = sortedPosts.filter(({ data }) => !data.featured);

const socialCount = SOCIALS.filter(social => social.active).length;
---

<Layout>
  <Header />
  <main id="main-content">
    <section id="hero">
      <h2>Welcome</h2>
      <p>
        Language learning, history, philosophy, classic literature, miscellaneous thoughts.
      </p>
      <!-- <br> -->
      <!-- Call to Action Button for Newsletter -->
      <!-- <div class="text-center my-5">
        <a href="/subscribe"
          class="inline-block px-6 py-3 text-lg font-bold text-white rounded-md transition-colors duration-300"
          style="background-color: rgb(var(--color-accent));"
          onmouseover="this.style.backgroundColor='rgba(var(--color-accent), 0.8)';"
          onmouseout="this.style.backgroundColor='rgb(var(--color-accent))';">
          Subscribe to Newsletter
        </a>
      </div> -->
    
      {socialCount > 0 && (
        <div class="social-wrapper">
          <div class="social-links">Social Links:</div>
          <Socials />
        </div>
      )}
    </section>
    

    <Hr />

    {
      featuredPosts.length > 0 && (
        <>
          <section id="featured">
            <h2>Featured</h2>
            <ul>
              {featuredPosts.map(({ data, slug }) => (
                <Card
                  href={`/posts/${slug}/`}
                  frontmatter={data}
                  secHeading={false}
                />
              ))}
            </ul>
          </section>
          {recentPosts.length > 0 && <Hr />}
        </>
      )
    }

    {
      recentPosts.length > 0 && (
        <section id="recent-posts">
          <h2>Recent Posts</h2>
          <ul>
            {recentPosts.map(
              ({ data, slug }, index) =>
                index < SITE.postPerIndex && (
                  <Card
                    href={`/posts/${slug}/`}
                    frontmatter={data}
                    secHeading={false}
                  />
                )
            )}
          </ul>
        </section>
      )
    }

    <div class="all-posts-btn-wrapper">
      <LinkButton href="/posts/">
        All Posts
        <svg xmlns="http://www.w3.org/2000/svg"
          ><path
            d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"
          ></path>
        </svg>
      </LinkButton>
    </div>
  </main>

  <Footer />
</Layout>

<style>
  /* ===== Hero Section ===== */
  #hero {
    @apply pb-6 pt-8;
  }

  #hero h2 {
    @apply text-3xl font-bold sm:text-5xl; /* Keep the heading size and style */
  }

  #hero .rss-link {
    @apply ml-4 flex items-center gap-2 text-white bg-skin-accent px-4 py-2 rounded-lg hover:bg-opacity-90 transition-colors; /* Styling for RSS button */
  }

  #hero .rss-icon {
    @apply h-5 w-5 sm:h-6 sm:w-6 fill-current; /* Adjust the icon size and color */
  }

  #hero p {
    @apply my-2;
  }

  .social-wrapper {
    @apply mt-4 flex flex-col sm:flex-row sm:items-center;
  }

  .social-links {
    @apply mb-1 mr-2 whitespace-nowrap sm:mb-0;
  }


  /* ===== Featured & Recent Posts Sections ===== */
  #featured,
  #recent-posts {
    @apply pb-6 pt-12;
  }
  #featured h2,
  #recent-posts h2 {
    @apply text-2xl font-semibold tracking-wide;
  }
  .all-posts-btn-wrapper {
    @apply my-8 text-center;
  }
</style>
